@model Music.Model.EF.song

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-info text-capitalize text-center" role="alert">
    @Html.ValidationSummary(true, "", "error")
</div>
<div class="row">
    @using (Html.BeginForm("Edit", "Songs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.song_id)

            <div class="form-group">
                @Html.LabelFor(model => model.album_id, "album_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("album_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.album_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.singer_id, "singer_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("singer_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.singer_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.author_id, "author_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("author_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.author_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.song_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.song_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.song_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.song_path, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-auto">
                    <input type="file" name="SUpload" />
                    @ViewBag.ThongBao
                    @Html.ValidationMessageFor(model => model.song_path, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.song_lyric, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-auto">
                    @Html.TextAreaFor(model => model.song_lyric, 15, 100, new { @class = "form-control ckeditor" })
                    @Html.ValidationMessageFor(model => model.song_lyric, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <input type="submit" value="Save" class="btn btn-danger" />
                    </div><div class="col-auto">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}