@model Music.Model.EF.singer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>singer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.singer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_cover_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_cover_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_dateofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_dateofbirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.singer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
