@model IEnumerable<Music.Model.EF.singer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<a href="~/Admin/Singers/Create">

    <i class="fa fa-fw fa-plus">
    </i>Thêm Ca sĩ
</a>

<table class="table" id="Select-b" style="table-layout:fixed;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.singer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_cover_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_dateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer_description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.singer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singer_nickname)
            </td>
            @if (item.singer_sex == true)
            {
                <td>Nam</td>
            }
            else
            {
                <td>Nữ</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.singer_country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singer_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singer_cover_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singer_dateofbirth)
            </td>
            <td id="appadd">
                @Html.DisplayFor(modelItem => item.singer_description)
            </td>
            <td id="del">
                @Html.ActionLink(" ", "Edit", new { id = item.singer_id }, new { @class = "fa fa-fw fa-edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.singer_id }, new { @class = "fa fa-fw fa-info" }) |
                @Ajax.ActionLink(" ","Delete",new { id = item.singer_id },new AjaxOptions {
               Confirm="Xóa "+item.singer_nickname,
               OnComplete="$('del').remove()",
               HttpMethod = "Delete"
           },new { @class="fa fa-fw fa-trash"})
            </td>
        </tr>
    }
</table>