@model Music.Model.EF.playlist

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>playlist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playlist_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.playlist_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playlist_createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.playlist_createdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.playlist_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
