@model IEnumerable<Music.Model.EF.playlist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playlist_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playlist_createdate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playlist_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playlist_createdate)
            </td>
            <td id="del">
                @Html.ActionLink(" ", "Edit", new { id = item.playlist_id }, new { @class = "fa fa-fw fa-edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.playlist_id }, new { @class = "fa fa-fw fa-info" }) |
                @Ajax.ActionLink(" ","Delete",new { id = item.playlist_id },new AjaxOptions {
               Confirm="Xóa "+item.playlist_name,
               OnComplete="$('del').remove()",
               HttpMethod = "Delete"
           },new { @class="fa fa-fw fa-trash"})
            </td>
        </tr>
    }
</table>