@model IEnumerable<Music.Model.EF.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_dateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_level)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_dateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_level)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.user_id }, new { @class = "fa fa-fw fa-edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.user_id }, new { @class = "fa fa-fw fa-info" }) |
                @Ajax.ActionLink(" ","Delete",new { id = item.user_id },new AjaxOptions {
               Confirm="Xóa "+item.user_id,
               OnComplete="$('del').remove()",
               HttpMethod = "Delete"
           },new { @class="fa fa-fw fa-trash"})
            </td>
        </tr>
    }
</table>