@model IEnumerable<Music.Model.EF.album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<a href="~/Admin/Albums/Create">

    <i class="fa fa-fw fa-plus">
    </i>Thêm Album
</a>
<table class="table" id="Select-b" style="table-layout:fixed;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.singer.singer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_view)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.singer.singer_name)
            </td>
            <td id="appadd">
                @Html.DisplayFor(modelItem => item.album_name)
            </td>
            <td id="appadd">
                @Html.DisplayFor(modelItem => item.album_createdate)
            </td>
            <td>
                <img width="170" height="50" src="@Url.Content(item.album_image)" alt="@Url.Content(item.album_name)" />
            </td>
            <td id="appadd">
                @Html.DisplayFor(modelItem => item.album_view)
            </td>
            <td id="del">
                @Html.ActionLink(" ", "Edit", new { id = item.album_id }, new { @class = "fa fa-fw fa-edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.album_id }, new { @class = "fa fa-fw fa-info" }) |
                @Ajax.ActionLink(" ","Delete",new { id = item.album_id },new AjaxOptions {
               Confirm="Xóa "+ item.album_name +" ?",
               OnComplete="$('del').remove()",
               HttpMethod = "Delete"
           },new { @class="fa fa-fw fa-trash"})
            </td>
        </tr>
    }
</table>